@use '../../../../styles' as styles;

:host {
  display: block;
}

.section-divider {
  border-top: 1px solid #f5f5f5;
  margin: 2rem 0;
}

.projects-page-class {
  background-color: styles.$color-surface-mixed-a0;
}
